/* Style Sheet for social media website */

/* Css Reset */

html, body, div, header, h1, h2, h3, h4, h5, h6, nav, ul ,ol , li, post, footer, p, a {
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
    font-family: sans-serif;
}
div#container { 
    display: flex;
    background-color: #fff;
    margin:auto;
    width: 80%;
    flex-flow: row wrap;

}

header {
    background-color: beige;
    width:100%;
    height: 300px;
    flex-direction: row;
    display:flex;
}

nav {
    display: flex;
    width: 10%;
    order:1; 
    align-content: flex-start;
    margin:  16px 0px 0px 80px;
}

#profile_image {
    display: block;
    width: 200px;
    height: 200px;
    align-self: flex-end;
    background-color: aliceblue;
    border-radius: 200px;
    margin-left: 32px;
   
}
div#profile_info {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    align-self: flex-end;
    margin-left: 16px;
    
}
div#profile_info h2 {
    font-size: 2em;
    order:1;
    
    
}
div#profile_info h4 {
    font-size: 1em;
    order: 2; 
    
}
footer{
    width:100%;
    order:3;
}
div#content {
    width: 75%;
    order: 2;
}
nav ul {
    list-style: none;
}
nav li {
    
}
nav li a{
    text-decoration: none;
    font-family: sans-serif;
    color: black
}
#content div.post {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px auto;
    width: 85%;
    background-color: #d9d9d9;
    box-shadow: 2px 2px 2px 2px black;
}


#content div.post img.ppp {
    display: block;
    width: 120px;
    height: 120px;
    background-color: whitesmoke;
    order: 1;
    
}
#content div.post h3.pnp {
    width: 50%;
    height: auto;
    order: 2;
    margin: 8px 6px;
}



div#content div.post p.time_stamp{
    order: 3;
    font-weight: 600;
    font-size: .8em;
    color: royalblue;
}


div#content div.post h5#p_comments{
    order: 4;
}

div#content div.post h5#p_likes{
    order: 5;
}
div#content div.post_info{
    width: 75%;
    order: 2;
}
div#content div.post div.post_foot{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  
    order: 3;
}

div#content div.post div.post_foot h5.p_comments {
    order: 4;
}


div#content div.post div.post_foot h5.p_likes {
    order: 5;

}






