input.text-box {
    margin-top: 2em;
    margin-left: 2em;
    display: flex;
    flex-direction: row;
}
input.text-box.small {
    width: 20em;
    height: 2.5em;
}
textarea.text-box.large {
    margin-top: 2em;
    margin-left: 1.79em;
    width: 25em;
    height: 15em;
}
button#submit {
    margin-left: 1.79em;
    margin-bottom: 1em;
}